<div class="master" style="display: none;">
<h2>People</h2>
<p>Select a person to view his/her details and supported objects</p>
<table class="table dataTable" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Name</th>
			<th>Division</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Name</th>
			<th>Division</th>
		</tr>
	</tfoot>
</table>
</div>
<div class="detail" style="display: none;"></div>
<div class="empty" style="display: none;">No items at this time<a href="" class="btn btn-primary see-data">See the data</a></div>