<div class="master" style="display: none;">
<h3>Mineral Awards</h3>
<p>Mineral Award records as reported on a GLO3.</p>
<table class="table dataTable" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Lease Number</th>
			<th>Product Type</th>
			<th>GLA Code</th>
			<th>Production YearMonth</th>
			<th>Payment Amount</th>
			<th></th>
		</tr>
	</thead>
	<tfoot>
	</tfoot>
</table>
</div>
<div class="detail" style="display: none;"></div>
<div class="empty" style="display: none;">
<h3>No Mineral Award records have been created yet</h3>
<button class="btn-lg btn-success start">Add First Mineral Award Record</button>
</div>