<div class="panel panel-default">
	<div class="panel-heading"><h4>Verify Report Total</h4></div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="total" class="col-sm-4 control-label">Reported Total</label>
				<div class="col-sm-8">
					<div class="input-group">
						<div class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></div>
						<input id="total"value="<%= total %>" class="form-control" placeholder="10000" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">&nbsp;</label>
				<div class="col-sm-8">
					<button type="submit" class="btn btn-success save">Complete</button>
					<button class="btn btn-default cancel">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>