<div class="row">
	<div class="col-xs-12">
			<a class="btn btn-info complete pull-right" title="Virify &amp; Complete"><span class="material-icons">input</span></a>
		<div class="btn-group btn-group-lg" role="group" aria-label="Report Actions">
			<a class="btn btn-white pull-rightx" href="#" title="Back to List"><span class="material-icons">arrow_back</span></a>
			<a class="btn btn-white save" title="Save"><span class="material-icons">done</span></a>
			<a class="btn btn-white add-new" title="Add New"><span class="material-icons">add</span></a>
		</div>
	</div>
</div
