<div class="panel panel-default">
	<div class="panel-heading">MA-3 Entry</div>
	<div class="panel-body">
		<div class="row">
			<label class="col-sm-4 text-right">
				Payer Property Number
			</label>
			<div class="col-sm-8">
				<%= payerPropertyNumber %>
			</div>
		</div>
		<div class="row">
			<label class="col-sm-4 text-right">Lease Number</label>
			<div class="col-sm-8">
				<%= leaseNumber %>
			</div>
		</div>
		<div class="row">
			<label class="col-sm-4 text-right">Report Product Type</label>
			<div class="col-sm-8">
				<%= reportProductType %>
			</div>
		</div>
		<div class="row">
			<label class="col-sm-4 text-right">GLA Code</label>
			<div class="col-sm-8">
				<%= glaCode %>
			</div>
		</div>
		<div class="row">
			<label class="col-sm-4 text-right">Production YearMonth</label>
			<div class="col-sm-8">
				<%= productionYearMonth %>
			</div>
		</div>
		<div class="row">
			<label class="col-sm-4 text-right">Payment  Amount</label>
			<div class="col-sm-8">
				<%= paymentAmount %>
			</div>
		</div>
	</div>
</div>
